<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <!-- Set shingle size to be 15 chars -->
    <context-param>
        <param-name>SHINGLE_SIZE</param-name>
        <param-value>15</param-value>
    </context-param>

    <!-- A servlet class must be bound to a name -->
    <servlet>
        <servlet-name>service-request-handler</servlet-name>
        <servlet-class>ie.gmit.sw.ServiceHandler</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- A servlet name must be bound to a URL mapping, i.e. localhost:8080/doProcess executes the servlet ie.gmit.sw.ServiceHandler in WEB-INF/classes -->
    <servlet-mapping>
        <servlet-name>service-request-handler</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>